body {
	background-color: #E3EDFC;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
}
#question-container{
	display: none;
}
.quiz-container {
	width: 600px;
	margin: 0 auto;
	padding: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	overflow: hidden;
}

h1 {
	color: #333;
}

#question {
	font-weight: bold;
	font-size: 2rem;
}

#options {
	list-style-type: none;
	font-size: 1.4rem;
	font-weight: 100;
	padding: 0;
}

#options li {
	margin-bottom: 10px;
	margin: 1.5rem 2rem;
}

#submit-btn {
	display: none;
	margin-top: 10px;
	width: 600px;
	height: 50px;
	font-size: 1.5rem;
	background-color: blueviolet;
	color: #E3EDFC;
	border: none;
}

#next-btn {
	display: none;
	width: 600px;
	height: 50px;
	font-size: 1.5rem;
	background-color: darkolivegreen;
	color: #E3EDFC;
	border: none;
}

#next-btn:hover {
	width: 600px;
	height: 50px;
	font-size: 1.5rem;
	background-color: #333;
	color: #E3EDFC;
	border: none;
}

#prev-btn {
	display: none;
	margin-top: 10px;
	width: 600px;
	height: 50px;
	font-size: 1.5rem;
	background-color: red;
	color: #E3EDFC;
	border: none;
}

#prev-btn:hover {
	background-color: #333;
}

#restart-btn,
#start-btn {
	width: 600px;
	height: 50px;
	font-size: 1.5rem;
	background-color: blueviolet;
	color: #E3EDFC;
	border: none;
}
#restart-btn{
display: none;
}
#restart-btn:hover {
	background-color: #333;
}

#result {
	font-weight: bold;
	margin-top: 20px;
	font-size: 2rem;
	text-align: center;
}

label {
	cursor: pointer;
	padding-left: 1rem;
}

button {
	cursor: pointer;
}